{
  "plugins": ["react-html-attrs"],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-stage-0"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
